/* reset codes & general changes */
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f5f5f5;
}
button:focus{
    outline: none;
}
@font-face{
    font-family: 'myFont';
    src: url(fonts/RobotoCondensed-Regular.ttf)
}
p,h3,h2{
    font-family: myFont;
}
/* main div */
.list-container{
    margin: 50px auto;
    height: 550px;
    width: 400px;
    background-color:#f8f8f8;
    border: 1px solid #c0c0c0;
    box-shadow: 5px 8px 5px 3px #808080;
    border-radius: 15px;

    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
/* header */
.header{
    margin: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header-icon{
    height: 35px;
    width: 35px;
}
#header-text{
    font-size: 20px;
    color:#858585;
}
/* middle img */
.middle-container{
    display: block;
}
.middle{
    position: relative;
    margin: 70px auto;
    height: 70%;
    
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.default-img{
    margin: 5px;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#middle-icon{
    height: 120px;
    width: 120px;
}
#middle-text{
    font-size: 20px;
}
/* each task */
.item{
    margin: 5px;
    height: 70%;
    overflow: auto;
    
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}
.box{
    margin: 10px;
    padding: 5px;
    border: 1px solid #c0c0c0;
    border-radius: 15px;
    box-shadow: 0px 5px 3px 1px #808080;
    background-color: #fffafa;

    display:flex;
    justify-content: space-between;
    align-items: center;
}
.priority-btn{
    height: 10px;
    min-width: 10px;
    margin-right: 5px;
    border: none;
    /* background-color: red; */
    border-radius: 50px;
    align-self: center;
}
.text-box-div{

    display: flex;
}
.box-text{
    margin: 3px;

    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
}
.item-text{
    font-size: 14px;
}
.item-date{
    font-size: 10px;
}
.check-box-div{
    display: none;
    justify-content: flex-end;
    align-items: flex-start;
    justify-self: flex-end;
}
/* .check-box:hover{
    display: flex;
} */
/* .check-img{
    min-width: 40px;
    min-height: 40px;
}
.close-img{
    width: 12px;
    height: 12px;
    min-width: 12px;
    min-height: 12px;
} */
/* modal */
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    margin:100px 37px;
    border: 1px solid #808080;
    border-radius: 10px;
    background-color: #f5f5f5;
}
.modal-content{
    margin: 10px;
    width: 300px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.modal-header{
    width: 300px;

    display:flex;
    justify-content:space-between;
    align-items: center;
}
.modal-header p{
    font-size: 24px;
}
.modal-header span{
    font-weight: bold;
    font-size: 28px;
    color: #c0c0c0;
}
.modal-header span:hover,.modal-header span:focus{
    color: #000;
    cursor: pointer;
}
.modal-task-informations{
    width: 300px;

    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.modal-text{
    width: 300px;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal-input{
    width: 100%;
    height: 25px;
    padding: 1px;
    margin: 2px;
}
.modal-priority{
    width: 300px;

    display: flex;
    justify-content: center;
}
.modal-priority-btn{
    width: 13px;
    height: 13px;
    margin: 10px;
    border-radius: 50px;
    cursor: pointer;
}
.modal-btn-red{
    background-color: red;
}
.modal-btn-blue{
    background-color: blue;
}
.modal-btn-green{
    background-color: green;
}
.modal-btn-yellow{
    background-color: yellow;
}
.modal-btn-div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-btn{
    width: 60px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #000;
    background-color: royalblue;
    cursor: pointer;
}
.modal-btn:hover{
    font-weight: bold;
}
/* add button */
.add-btn{
    margin:10px;
    height: 50px;
    width: 50px;

    display:flex;
    justify-content: flex-end;
    align-self: flex-end;
}
.btn{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    padding: 2px;
    cursor: pointer;
    background-color: #3232eb;
    border:none;
    color: #f0fff0;
    font-size: 25px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.btn:hover{
    box-shadow: 0px 0px 4px 2px #2c70f0;
}