* { -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0; padding: 0; }

a { text-decoration: none; }

html { font-size: 62.5%; }

body { font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; height: 100vh; background: -webkit-gradient(linear, left top, right top, from(#5d61e3), to(#5d61a0)); background: linear-gradient(90deg, #5d61e3 0%, #5d61a0 100%); }

main { background: #f4f4f4; width: 90vw; height: 90vh; border-radius: 10px; padding: 1.5rem; display: -ms-grid; display: grid; -ms-grid-columns: 1fr; grid-template-columns: 1fr; -ms-grid-rows: 6rem auto 6rem; grid-template-rows: 6rem auto 6rem; }

.hero { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.hero__icon { width: 5rem; height: 5rem; }

.hero__title { font-weight: 500; font-size: 3rem; }

.default-bg { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.default-bg__img { width: 15%; }

.default-bg__text { margin-top: 1rem; font-size: 2rem; }

.tasks { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.task { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; width: 90%; border-radius: 10px; margin: 10px 0; padding: 10px; -webkit-box-shadow: 0px 5px 20px #c3c3c3; box-shadow: 0px 5px 20px #c3c3c3; }

.task__buttons { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.task__todo { font-size: 4rem; }

.task__date { font-size: 3rem; }

.task__action { margin-top: 15px; width: 30px; height: 30px; border-radius: 50%; border: 3px #5d61e3 solid; background-color: #fff; }

.action--done { border: none; background-color: greenyellow; }

.task__edit a { font-size: 2rem; }

.task__edit a:hover { color: #5d61a0; }

.footer { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; }

.footer__btn { width: 50px; height: 50px; border-radius: 50%; border: none; }
