.task {
  display: flex;
  justify-content: space-between;
  width: 90%;
  border-radius: 10px;
  margin: 10px 0;
  padding: 10px;
  box-shadow: 0px 3px 10px darken($white-color, 50%);
  border-left: 10px $primary-color solid;

  &__buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &__todo {
    font-size: 2.5rem;
  }

  &__date {
    font-size: 2rem;
  }

  &__action {
    margin-top: 9px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    &:hover {
      cursor: pointer;
    }
  }

  &__edit a {
    font-size: 1.5rem;
    color: $primary-color;
  }

  &__edit a:hover {
    color: $accent-color;
  }
}

.done {
  background-color: darken($white-color, 15%);
}

// .action--done {
//   border: none;
//   background-color: greenyellow;
// }
